.containerProjects{
    margin-top: 2rem;
    padding: 0 4rem;
}

.title{
    margin: 0 auto;
    font-size: 2.5rem;
}

@media (max-width: 768px) {
    .title{
        font-size: 2rem;
    }
}
@media (max-width: 480px) {
    .containerProjects{
        padding: 0 2rem;
    }
    
    .title{
        font-size: 1.7rem;
    }
}
