.containerHome{
    padding-right: 47px;
}

.flexContainer{
    gap: 80px;
}

.title{
    margin: 0;
    font-size: 3rem;
    overflow: hidden;
    white-space: nowrap;
}

.description{
    font-weight: 700;
    font-size: 1.3rem;
}

#typingAnimation{
    animation: typing 2s 1s normal;
}

#typingAnimation p{
    animation: blinkCursor 900ms infinite normal;
}

@keyframes typing {
   from{
    width: 0;
   } 
   to{
    width: 100%;
   }
}

@keyframes blinkCursor {
    from{
        color: default;
    }
    to{
        color: transparent;
    }
}

.highlights, .links:hover{
    color: #8a2be2;
}

.imageBox{
    position: relative;
    width: 22rem;
}

.imageBox img{
    width: 365px;
}

.imageBox::before{
    /* position: absolute;
    bottom: 0;
    content: '';
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: -1; */
    position: absolute;
    left: 8px;
    bottom: 15px;
    content: '';
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: inset 0px 20px 20px 0px rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.scroll{
    position: absolute;
    top: 90%;
    right: 50%;
    text-decoration: none;
}

@media (min-width: 1441px) {
    .scroll{
        display: none;
    }
}

@media (max-width: 1025px) {
    .flexContainer{
        gap: 0;
    }

    .title{
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .containerHome{
        padding-right: 24px;
    }

    .flexContainer{
        flex-direction: column-reverse;
        gap: 16px;
    }

    .MobileAlignItems{
        align-items: center;
    }

    .title{
        font-size: 1.7rem;
    }

    .description{
        width: 23rem;
        font-size: 1.2rem;
        text-align: center;
    }

    .scroll{
        display: none;
    }

    .imageBox{
        width: 15.6rem;
    }

    .imageBox img{
        width: 260px;
        object-fit: cover;
    }

    .imageBox::before{
        bottom: 18px;
        left: 0;
        width: 260px;
        height: 260px;
    }
}

@media (max-width: 376px) {
    .title{
        font-size: 1.4rem;
    }
    
    .description{
        width: 17rem;
        font-size: 1rem;
    }

    .imageBox{
        width: 13.8rem;
    }

    .imageBox img{
        width: 220px;
        object-fit: cover;
    }

    .imageBox::before{
        width: 220px;
        height: 220px;
    }
}