.textLogo{
    font-family: "Great Vibes", cursive;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
}

#selected, .links:hover{
    color: #8a2be2;
}

#selected{
    font-weight: 700;
}

@media (max-width: 480px) {
    .links{
        display: none;
    }
}