.containerHardSkills{
    margin-top: 2rem;
    padding: 0 4rem;
}

.title{
    margin: 0 auto;
    font-size: 2.5rem;
}

.divCards{
    display: inline-flex;
    gap: 1.5rem;
}

@media (max-width: 1025px) {
    .divCards{
        flex-direction: column;
        align-items: center;
        width: 10rem;
    }
}

@media (max-width: 768px) {
    .containerHardSkills{
        text-align: center;
    }
    .title{
        font-size: 2rem;
    }
    .divCards{
        flex-direction: column;
        align-items: center;
        width: 35rem;
    }
}

@media (max-width: 480px) {
    .containerHardSkills{
        padding: 0 2rem;
    }

    .title{
        font-size: 1.7rem;
    }

    .divCards{        
        width: 6rem;
        gap: 0.4rem;
    }

}